<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDos</title>
</head>
<body>
    <main>
        <div>
            <h1>Update item</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                {% comment %} <p>Task:<input type="text" name="task"></p>
                <p>Due date:<input type="text" name="due_date"></p>
                <p>Is completed:<input type="checkbox" name="is_completed"></p>
                <p>List:<select name="list"></p> {% endcomment %}
                <button class="button">Update</button>
            </form>
        </div>
    </main>
</body>
</html>
